ul
{
    display: flex;
    justify-content: space-around;
}

li
{
    list-style-type: none;
}

li .link-conntaier
{
    display: flex;
}

.link-logo
{
    height: 30px;
}

#author-image
{
    height: 40px;
}

mat-card-header
{
    justify-content: space-between;
}