#physics-space
{
    width: 600px;
    height: 600px;
    background-color: lightcyan;
}

.physics-object
{
    width: 20px;
    height: 20px;
    background-color: coral;
    position: absolute;
}

.physics-object:hover
{
    opacity: 0.8;
    cursor: grab;
}

.circle
{
    border-radius: 50%;
}