.container
{
    display: flex;
    flex-direction: row;
    gap: 0 20px;
}

#physics-space
{
    width: 600px;
    height: 600px;
    background-color: lightcyan;
}

.physics-object
{
    width: 20px;
    height: 20px;
    background-color: coral;
    position: absolute;
}

.physics-object:hover
{
    opacity: 0.8;
    cursor: grab;
}

.circle
{
    border-radius: 50%;
}

.objects-control
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: 400px;
    overflow-y: auto;
    background-color: rgb(71, 71, 71);
    border-radius: 5px;
    padding: 5px;
}

.objects-control .object-info
{
    padding: 5px;
    border-radius: 3px;
    min-width: 200px;
    background-color: rgb(88, 88, 88);
}