<main>
    <h2>Drinkage 1.4.6 Port</h2>
    <div class="card" #card>
        <p [innerHTML]="cardContent"></p>
        @for (btn of cardButtons; track btn.label) {
            <button (click)="btn.action()">{{ btn.label }}</button>
        }
    </div>

    <div style="width: 100%;">
        <button mat-flat-button id="next-button" style="margin: 5px auto -10px auto; display: block;" (click)="nextCard()">
            Next
        </button>
    </div>

    <div id="names">
        @for (name of names; track name) {
            <div class="confirmed-box">
                <a>{{ name }}</a>
                <img id="remove-person" src="/assets/legacy-media/Cross.png" (click)="removeName(name)" />
            </div>
        }
    </div>

    <form (ngSubmit)="addName()" id="name-form">
        <input type="text" id="name" name="name" placeholder="Enter new name" [(ngModel)]="nameInputValue" #nameInput>
        <button mat-icon-button type="submit" mat-icon-button>
            <mat-icon>add_circle</mat-icon>
        </button>
    </form>
</main>

<footer>
    <i>3/12/2025, A Creation by <strong>Arun Osborn</strong></i>
</footer>