<main>
    <h2>Drinkage 2.0</h2>
    <div class="card" #card>
        <p [innerHTML]="cardContent"></p>
        @for (btn of cardButtons; track btn.label) {
            <button (click)="btn.action()">{{ btn.label }}</button>
        }
    </div>

    <div id="next-button" (click)="nextCard()">
        Next
    </div>

    <div id="names">
        @for (name of names; track name) {
            <div class="confirmed-box">
                <a>{{ name }}</a>
                <img id="remove-person" src="/assets/legacy-media/Cross.png" (click)="removeName(name)" />
            </div>
        }
    </div>

    <form (ngSubmit)="addName()" id="name-form">
        <input type="text" id="name" name="name" placeholder="Enter new name" [(ngModel)]="nameInputValue" #nameInput>
        <input type="submit" value="" class="submit-button" name="submit">
    </form>
</main>

<footer>
    <i>3/12/2025, A Creation by <strong>Arun Osborn</strong></i>
</footer>